
@media screen and (min-width: 700px){
    .credential-card{
        width: 50%!important;
    }
    .options{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
        grid-row-gap: 1.0rem; 
        grid-column-gap: 0.3rem;
        margin-left: 10vw
    }
}
@media screen and (max-width: 700px){
    .credential-card{
        width: 100%!important;
    }

    .options{
        grid-template-columns: 1fr 1fr 1fr; 
        grid-row-gap: 1.0rem; 
        grid-column-gap: 0.3rem;
    }
}


.card-botao {
    width: unset;
    max-width: 9rem;
    text-align: center;
    transition: 0.5s all;
    min-height: 7rem;
    user-select: none;
    text-decoration: none;
    text-wrap: none;
}

div{
    justify-content: center;
    align-items: center;
}

.d-grid{
    display: grid !important;
}
.gap-3{
    gap: 1rem !important;
}

.text-height{
    line-height: 1;
}

.padding-login{
    padding-top: 10vh;
}



.child {
    
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    line-height: 1;
    height: 18vh;


}
.bounce:hover {
    animation-name: bounce;
    animation-timing-function: linear;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-10px); }
  75%  { transform: translateY(10px); }
  100% { transform: translateY(0); }
}
